<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>title_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {249, 92}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{9, 7}, {230, 75}}</string>
			<key>sourceSize</key>
			<string>{249, 92}</string>
		</dict>
		<key>title_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{251, 1}, {249, 92}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{11, 7}, {230, 75}}</string>
			<key>sourceSize</key>
			<string>{249, 92}</string>
		</dict>
		<key>title_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 94}, {249, 92}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{11, 9}, {230, 75}}</string>
			<key>sourceSize</key>
			<string>{249, 92}</string>
		</dict>
		<key>title_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{251, 94}, {249, 92}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{16, 9}, {230, 75}}</string>
			<key>sourceSize</key>
			<string>{249, 92}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>
